.categories-nav::-webkit-scrollbar {
  display: none;
}

.categories-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.categories-nav {
  -webkit-overflow-scrolling: touch;
}

.home-background {
  position: relative;
  background-image: url(../../public/images/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 89, 144, 0.5);
  pointer-events: none;
}
.header-background {
  position: relative;
  background-image: url(../../public/images/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 89, 144, 0.5);
  pointer-events: none;
}
.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
